
.product-item .pim-wrapper {
    padding: 15px 25px;
    background-color: white;
    border: 1px solid white;
    transition: all 0.5s;
}

.product-item:hover .pim-wrapper {
    border-color: #66AF27;
}

.product-item:hover .product-footer button {
    opacity: 1;
}

.product-image img {
    width: 100%;
    height: 140px;
}

.product-item .product-body {
    margin-top: 10px;
}

.product-body h5 {
    font-weight: normal;
    font-size: 18px;
    color: #6E6E6E;
}

.product-body .price,
.product-body .grade {
    color: #6E6E6E;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.product-body .price span,
.product-body .grade span {
    font-size: 16px;
    font-weight: 500;
    color: #66AF27;
}

.product-footer {
    padding: 10px 0;
}

.product-footer button {
    opacity: 0;
    background-color: white;
    border-color: #6E6E6E;
    color: #6E6E6E;
    transition: all .25s;
}

.product-footer button:hover {
    background-color: #66AF27;
    border-color: #66AF27;
    color: white;
}

.product-footer button:focus {
    box-shadow: none;
}

@media (max-width: 576px) {

    .product-item .product-footer button {
        opacity: 1;
        background-color: #66AF27;
        border-color: #66AF27;
        color: white;
    }

}

@media (min-width: 577px) and (max-width: 767px) {

    .product-item .product-footer button {
        opacity: 1;
        background-color: #66AF27;
        border-color: #66AF27;
        color: white;
    }
}

@media (min-width: 767px) and (max-width: 992px) {

    .product-item .product-footer button {
        opacity: 1;
        background-color: #66AF27;
        border-color: #66AF27;
        color: white;
    }
}