.login {
    padding: 20px;
    margin: 40px auto;
    background-color: white;
}

.login .row > div h3,
.login .row > div label {
    color: #6E6E6E;
}


@media (max-width: 576px) {

    .login .row > div h3 {
        text-align: center;
    }

    .login .row > div button {
        display: flex;
        margin-left: auto;
    }
}

@media (min-width: 577px) and (max-width: 767px) {
    .login .row > div h3 {
        text-align: center;
    }

    .login .row > div button {
        display: flex;
        margin-left: auto;
    }
}